DB_HOST=localhost
DB_NAME=postgres
DB_USER=user
DB_PASSWORD=password

OPENAI_API_URL=https://api.openai.com/v1
OPENAI_API_KEY=sk-XXX
MEDITRON_MCP_API_KEY=XXX
MODEL_NAME=moonshotai/Kimi-K2.6

KEYCLOAK_URL=https://enac-it-sso2.epfl.ch
KEYCLOAK_REALM=EPFL
KEYCLOAK_API_ID=humconnect-api
KEYCLOAK_API_SECRET=XXX
KEYCLOAK_TOTP=true
AUTH_CLIENT_ID=humconnect-dev
